# Backend
backend/RAG/__pycache__/
backend/__pycache__/
backend/learn_plan/
backend/pdf_documents/
backend/rag_vectorstore/

# Frontend
frontend/ai-teacher-website-v3/node_modules/
frontend/ai-teacher-website-v4/node_modules/
frontend/ai-teacher-website-v5/node_modules/
frontend/ai-teacher-website-v6/node_modules/
frontend/ai-teacher-website-v7/node_modules/
frontend/ai-teacher-website-v8/node_modules/
